.form {
  width: 30%;
  margin: auto;
  padding: 2em 2em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.formButton {
  margin: 3.7em 0;
  display: flex;
  justify-content: space-between;
}
