.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px 15px 0 15px;

  .avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid #3e4eb8;
    overflow: hidden;
    span {
      display: block;
      width: 100px;
      height: 100px;
      background-color: #ccc;
      margin: auto;
    }
  
    img {
      max-width: 100%;
    }
  }
}


.notEdintingWrapper {
  text-align: center;
}

.form {
  .formControl {
    display: block;
  }
  
  input {
    width: 400px;
  }

  .uploadButton {
    margin-right: 15px;
    svg {
      margin-left: 10px;
    }
  }
}

.buttons {
  margin-top: 40px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.formContainer {
  margin-bottom: 20px;
}

.uploadInput {
  width: 100%;
  position: absolute;
  opacity: 0;
  height: 100%;
}

.uploadArea {
  display: flex;
  align-items: center
}

.hidden {
  display: none;
}

.showed {
  display: block;
}
