.form {
    width: 30%;
    margin: auto;
    padding: 2em 2em;
    text-align: center;
    background: url("images/form-bg.jpg") no-repeat 0 0;
    font-family: "Open Sans", sans-serif;
    background-size: cover;
}

.form-button {
    margin: 3.7em 0;
    display: flex;
    justify-content: space-between;
}
