.form {
  width: 30%;
  margin: auto;
  padding: 2em 2em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.form-button {
  margin: 3.7em 0;
  display: flex;
  justify-content: space-between;
  &.form-button--save {
  	justify-content: center;
  }
}

.form-button--save .button {
	&:hover {
		background: white;
		color: #0b4379;
	}
	&:active {
		box-shadow: inset 0 4px 3px grey;
	}
}
