.wrapper {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.students {
    width: 20%;
    
    .studentsAdd {
        background: #2196f3;
        width: 100%;
        height: 45px;
        border-radius: 8px;
        font-size: 12px;
        color: white;

        .iconAdd {
            color: white;
            margin-left: 17px;
        }
    }
}

.information {
    width: 60%;
}

.studentLink {
    text-decoration: none;
    color: #3a6bf6;
}
