.form {
  width: 35%;
  border-radius: 10px;
  margin: auto;
  padding: 2em 2em;
  text-align: center;
  background-color: rgba(57, 57, 74, 0.69);
  font-family: "Open Sans", sans-serif;
  background-size: cover;
}

.form-button {
  margin: 3.7em 0;
  display: flex;
  justify-content: space-between;
}
