.movie {
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
}

.movie:hover {
  box-shadow: 0 0 35px 16px rgba(0,0,0,0.2);
}

.movie__date {
  margin-bottom: 10px;
  margin-top: 10px;
}

.movie__popularity,
.movie__vote-count {
  margin-bottom: 10px;
}

.movie__label {
  color: #a04d83;
}

.movie__picture {
  max-width: 360px;
}

.movie__picture img {
  max-width: 100%;
}
